@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
}

body {
  background-color: #f5f5f5;
  overflow: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.mapboxgl-canvas-container, .mapboxgl-canvas{
  height: 100% !important;
  width: 100% !important;
}